*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    border: 1px solid #0d8c60;
    text-align: center;
    border-radius: 5px;
}

.box .icons-user i
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #0d8c60;
    line-height: 70px;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box .back-home i
{
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    border-right: 1px solid #0d8c60;
    border-bottom: 1px solid #0d8c60;
    border-radius: 5px;
    font-size: 18px;
}

.box input[type="text"], input[type="email"], input[type="password"]
{
    width: 96%;
    margin: 2%;
    padding: 7px 0;
    border: 1px solid #0d8c60;
    border-radius: 5px;
    outline: none;
}

.box input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus
{
    box-shadow: 1px 1px 4px #0d8c60,
    -1px -1px 4px #0d8c60;
    transition: all .5s ease;
}
.box input[type="text"]:placeholder-shown, input[type="email"]:placeholder-shown, input[type="password"]:placeholder-shown
{
    padding-right: 10px;
}

.box .Create-with i
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    margin: 10px;
}

.box .Create-with .fa-facebook
{
    background: #0000ff;
    color: #fff;
}

.box .Create-with .fa-google
{
    background: #b92025;
    color: #fff;
}

.box .Create-with .fa-twitter
{
    background: #0d8c60;
    color: #fff;
}
.box input[type="submit"]
{
    background: #0d8c60;
    border: none;
    outline: none;
    width: 90%;
    padding: 7px 0;
    margin: 5%;
    color: #fff;
    border-radius: 5px;
}

.box input[type="submit"]:hover
{
    transform: translateY(5px);
    transition: all .5s ease;
}